---
import '../styles/global.css'
import BaseLayout from "../layouts/BaseLayout.astro";

const pageTitle = "About Me";

const identity = {
    firstName: "Bennett",
    country: "United States",
    occupation: "Student",
    hobbies: ["programming", "video games", "photography", "cinematography", "hiking", "camping"],
};

const skills = ["Rust", "Python", "C++", "Java"];
---

<BaseLayout pageTitle={pageTitle}>
    <p>I am Bennett Pohlmann, a hobbyist programmer and a hater of web development</p>

    <p>Here are a few facts about me:</p>
    <ul>
        <li>My name is {identity.firstName}.</li>
        <li>I live in {identity.country} and I am a {identity.occupation}.</li>
        {identity.hobbies >= 2 &&
            <li>Two of my hobbies are: {identity.hobbies[0]} and {identity.hobbies[1]}</li>
        }
    </ul>
    <p>My skills are:</p>
    <ul>
        {skills.map((skill) => <li class="skill">{skill}</li>)}
    </ul>
</BaseLayout>
