---
import BaseLayout from "../layouts/BaseLayout.astro";

const MAX_POKEDEX_NUMBER = 1025;
---

<BaseLayout pageTitle="olga page">
  <div class="m-5 sm:m-10">
    <div class="mx-auto max-w-prose">
      <h1 class="text-5xl font-bold">olga's secret page</h1>
      <div class="mb-2 mt-4 flex gap-3">
        <div
          class="flex border border-dotted border-black p-1 leading-none dark:border-white"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="1rem"
            height="1rem"
            viewBox="0 0 24 24"
            ><g
              fill="none"
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              ><path d="M3 12a9 9 0 1 0 18 0a9 9 0 1 0-18 0"></path><path
                d="M9 12a3 3 0 1 0 6 0a3 3 0 1 0-6 0m-6 0h6m6 0h6"></path></g
            ></svg
          >
          <p class="ml-1">#</p>
          <input
            id="pokedex-input"
            type="number"
            placeholder="587"
            class="h-4 max-w-[4ch] placeholder:italic placeholder:text-gray-500 focus:outline-none dark:bg-black"
            autofocus="true"
            min="1"
            max={MAX_POKEDEX_NUMBER}
            data-max={MAX_POKEDEX_NUMBER}
          />
        </div>
        <p class="font-bold" id="name"></p>
      </div>
      <p id="output"></p>

      <script is:inline define:vars={{ MAX_POKEDEX_NUMBER }} type="module">
        let input = document.querySelector("input");
        let output = document.getElementById("output");
        let name = document.getElementById("name");

        // check if input and output exist
        if (!input || !output || !name) {
          throw new Error("part of page not found");
        }

        let update_name = (num) => {
          fetch(`https://pokeapi.co/api/v2/pokemon/${num}`)
            .then((res) => res.json())
            .then((data) => {
              let pokemon_name = data.name;
              name.innerText = pokemon_name;
            });
        };

        let update_text = (num) => {
          // check if input is a number and greater than 0
          if (isNaN(num) || num < 1) {
            output.innerText = "enter pokedex number";
            output.classList.add("italic");
            output.classList.add("text-gray-500");
            name.innerText = "";
            return;
          }

          // check if input is greater than max pokedex number
          if (num > MAX_POKEDEX_NUMBER) {
            num = MAX_POKEDEX_NUMBER;
            input.value = MAX_POKEDEX_NUMBER.toString();
          }

          output.classList.remove("italic");
          output.classList.remove("text-gray-500");

          update_name(num);

          num -= 1;

          let pages_flipped = Math.floor(num / 18);
          let slot_number = (num % 18) + 1;
          let output_text = `flip ${pages_flipped} pages and put in slot ${slot_number}`;
          if (slot_number > 9) {
            output_text += `\n(back slot ${slot_number - 9})`;
          }
          output.innerText = output_text;
        };

        update_text(0);

        input.addEventListener("input", (_) => {
          let pokedex_number = parseInt(input.value);
          update_text(pokedex_number);
        });
      </script>
    </div>
  </div>
</BaseLayout>
