---
import type { CollectionEntry } from "astro:content";
import Tag from "./Tag.astro";

interface Props {
  post: CollectionEntry<"posts">;
  canClick?: boolean;
}

const { post, canClick = true } = Astro.props;
const frontmatter = post.data;

const Type = canClick ? "a" : "Fragment";
---

<div class="text-pretty">
  <div class="flex flex-wrap items-baseline">
    <span class="mr-2">
      {frontmatter.pubDate.getUTCMonth() + 1}/{
        frontmatter.pubDate.getUTCDate()
      }/{frontmatter.pubDate.getUTCFullYear().toString().slice(2)}</span
    >
    {frontmatter.tags.map((tag) => <Tag tag={tag} />)}
  </div>
  <p>
    <Type
      class="text-2xl font-bold underline sm:text-4xl"
      href={`/blog/${post.id}/`}>{frontmatter.title}</Type
    >
  </p>
  <p>{frontmatter.description}</p>
</div>
