---
import { Image } from "astro:assets";
import type { CollectionEntry } from "astro:content";

interface Props {
  post: CollectionEntry<"posts">;
}

const { post } = Astro.props;
const frontmatter = post.data;
---

<div>
  <div class="mb-2 aspect-video border border-black p-px dark:border-white">
    <a href={`/posts/${post.slug}/`}>
      <Image
        src={frontmatter.image.url}
        alt={frontmatter.image.alt}
        class="size-full object-cover"
      />
    </a>
  </div>
  <p class="text-balance">
    {frontmatter.pubDate.getUTCMonth() + 1}/{frontmatter.pubDate.getUTCDate()}/{
      frontmatter.pubDate.getUTCFullYear().toString().slice(2)
    }<br />
    <a
      class="text-xl font-bold underline md:text-2xl lg:text-3xl"
      href={`/posts/${post.slug}/`}>{frontmatter.title}</a
    ><br />
    {frontmatter.description}
  </p>
</div>
