---
import { Image } from "astro:assets";
import type { CollectionEntry } from "astro:content";
import Tag from "./Tag.astro";

interface Props {
  post: CollectionEntry<"posts">;
}

const { post } = Astro.props;
const frontmatter = post.data;
---

<div class="text-balance font-mono">
  <div class="mb-2 aspect-video border border-black p-px dark:border-white">
    <a href={`/posts/${post.slug}/`}>
      <Image
        src={frontmatter.image.url}
        alt={frontmatter.image.alt}
        class="size-full object-cover"
        loading="eager"
      />
    </a>
  </div>
  <div class="flex flex-wrap items-baseline">
    <p class="mr-2">
      {frontmatter.pubDate.getUTCMonth() + 1}/{
        frontmatter.pubDate.getUTCDate()
      }/{frontmatter.pubDate.getUTCFullYear().toString().slice(2)}
    </p>
    {frontmatter.tags.map((tag) => <Tag tag={tag} />)}
  </div>
  <p>
    <a
      class="text-xl font-bold underline md:text-2xl lg:text-3xl"
      href={`/posts/${post.slug}/`}>{frontmatter.title}</a
    >
  </p>
  <p>{frontmatter.description}</p>
</div>
