---
import { ClientRouter } from "astro:transitions";
import Header from "../components/Header.astro";

import "../styles/global.css";

const {
  pageTitle,
  description = "Bennett Pohlmann's personal page",
  pubDate = null,
} = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" href="/favicon.svg?" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />

    <link
      rel="alternate"
      type="application/rss+xml"
      title="BEnh3N's Blog"
      href={new URL("rss.xml", Astro.site)}
    />
    <link href="https://mastodon.social/@benh3n" rel="me" />

    <title>{pageTitle}</title>
    <meta property="og:title" content={pageTitle} />
    <!-- add extra metadata if the page is an article -->
    {
      pubDate === null ? (
        <meta property="og:type" content="website" />
      ) : (
        <>
          <meta property="og:type" content="article" />
          <meta property="article:published_time" content={pubDate} />
          <meta property="article:author" content="Bennett Pohlmann" />
          <meta name="fediverse:creator" content="@benh3n@mastodon.social" />
        </>
      )
    }
    <meta property="og:url" content={Astro.url} />
    <meta property="og:image" content={Astro.site + "favicon.png"} />
    <meta property="og:image:type" content="image/png" />
    <meta property="og:description" content={description} />
    <meta name="description" content={description} />
    <ClientRouter />
  </head>
  <body
    class="mt-10 dark:bg-black dark:text-white dark:scheme-dark"
    role="main"
  >
    <Header />
    <slot />
  </body>
</html>
