---
import BaseLayout from "./BaseLayout.astro";
import Tag from "../components/Tag.astro";

const { frontmatter } = Astro.props;
---

<BaseLayout pageTitle={frontmatter.title}>
  <div class="mb-4 flex">
    <div class="aspect-video m-2">
      <img
        src={frontmatter.image.url}
        alt={frontmatter.image.alt}
        class="rounded-md object-cover h-full w-96"
      />
    </div>
    <div class="m-2 font-display flex flex-col justify-center">
      <p class="text-5xl font-bold">
        {frontmatter.title}
      </p>
      <p class="italic">{frontmatter.description}</p>
      <p class="text-accent-subtext">{frontmatter.pubDate.slice(0, 10)}</p>

      <p class="text-accent-subtext">Written by: {frontmatter.author}</p>
      <div class="mt-2 flex flex-wrap gap-2">
        {frontmatter.tags.map((tag: string) => <Tag tag={tag} />)}
      </div>
    </div>
  </div>
  <div>
    <slot />
  </div>
</BaseLayout>

<!-- <style>
    a {
        color: #00539f;
    }

    .tags {
        display: flex;
        flex-wrap: wrap;
    }

    .tag {
        margin: 0.25em;
        border: dotted 1px #a1a1a1;
        border-radius: .5em;
        padding: .5em 1em;
        font-size: 1.15em;
        background-color: #f8fcfd;
    } -->
