---
import BaseLayout from "./BaseLayout.astro";
import Tag from "../components/Tag.astro";

const { frontmatter } = Astro.props;
---

<BaseLayout pageTitle={frontmatter.title}>
  <div class="px-2">
    <div class="mb-4 flex flex-col md:flex-row">
      <div class="aspect-video md:w-2/5">
        <img
          src={frontmatter.image.url}
          alt={frontmatter.image.alt}
          class="rounded-md object-cover"
        />
      </div>
      <div class="flex flex-col justify-center pt-2 font-display md:px-4">
        <p class="text-3xl font-bold md:text-4xl">
          {frontmatter.title}
        </p>
        <p class="italic">{frontmatter.description}</p>
        <p class="text-accent-subtext">{frontmatter.pubDate.slice(0, 10)}</p>
        <p class="text-accent-subtext">Written by: {frontmatter.author}</p>
        <div class="flex flex-wrap gap-2 pt-1">
          {frontmatter.tags.map((tag: string) => <Tag tag={tag} />)}
        </div>
      </div>
    </div>
    <div>
      <slot />
    </div>
  </div>
</BaseLayout>

<!-- <style>
    a {
        color: #00539f;
    }

    .tags {
        display: flex;
        flex-wrap: wrap;
    }

    .tag {
        margin: 0.25em;
        border: dotted 1px #a1a1a1;
        border-radius: .5em;
        padding: .5em 1em;
        font-size: 1.15em;
        background-color: #f8fcfd;
    } -->
